body {
  font-family: Arial, sans-serif;
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  padding: 40px;
}

main {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px;
  background-color: greenyellow;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

li.completada {
  background-color: gray;
}
